.catalog {
    position: relative;

    &__section {
        display: flex; 
        // justify-content: space-between;
        
        &-filters {
            width: 178px;

        }
        &-list {
            width: calc(100% - 178px);
            display: flex; 
            justify-content: space-around; 
        }
    }   
}

.filters-block {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
    width: 100%;    
    &_img {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &_text {
        cursor: pointer;
        margin-left: 15px;
        
    }
    // width: 100%;
}