.matchingBtn {
  text-align: center;
  padding: 14px 30px !important;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.form_matching {
  min-height: 0 !important;
}

.catalog-input {
  width: 100% !important;
  margin-bottom: 10px;
}